{# 
    Component: Countdown Timer
    Description: Visual timer to drive urgency. 
#}
<div class="countdown-component {{ theme|default('dark') }}" 
     data-end-date="{{ end_date }}" 
     data-behavior="{{ behavior|default('fixed') }}">
    
    <div class="countdown-label">{{ label|default('Offer Ends In:') }}</div>
    
    <div class="timer-display">
        <div class="time-block">
            <span class="value" data-unit="days">00</span>
            <span class="label">Days</span>
        </div>
        <div class="separator">:</div>
        <div class="time-block">
            <span class="value" data-unit="hours">00</span>
            <span class="label">Hours</span>
        </div>
        <div class="separator">:</div>
        <div class="time-block">
            <span class="value" data-unit="minutes">00</span>
            <span class="label">Minutes</span>
        </div>
        <div class="separator">:</div>
        <div class="time-block">
            <span class="value" data-unit="seconds">00</span>
            <span class="label">Seconds</span>
        </div>
    </div>
</div>
